<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWSACCESSKEY</key>
	<string>AKIAJKDA76WJDMZJ3KIQ</string>
	<key>S3SECRET</key>
	<string>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</string>
</dict>
</plist>
